* {

    box-sizing: border-box;

}

html, body {
    margin: 5;
    font-size: 1.1em;
    text-align: center;


}

.name header {
    padding: 0, 50px;

}
h1 {
    color: rgb(18, 117, 205);
}

.name header {
    background-color: #e59b9b;
}
.sidebar {
    background-color: #1034a6;
    text-decoration: none;

}
.nav {
    ;
}

.hg-sidebar,
.name-content {
    padding: 20px;
}
a{
    color: rgb(20, 113, 194);
    text-decoration: none;
    font-size: x-large;
}

.name {
    min-height: 100vh;
}
.name, .name-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

}
.name-content {
    flex: 1 1 auto;
}

.name-sidebar-1 {
    order: -1
    ;

}
.main {
    body {
        background: rgb(83, 54, 110);
        max-width: 960px;
        color: #232323;
        margin: 0 auto;
      }

}
.name {
    background-color: aliceblue;
}
p {
    background-color: rgb(255,255,255);
    
}
    

]